@import 'base/index';


* {
    box-sizing: border-box;
}

body {
    font: 1em 'Cairo', sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
}

#search {
    height: 50px;
    width: 50%;
    padding: 8px;
    margin: 24px;
    border: 2px solid #ddd;
    border-radius: 5px;
}